.post-comment-create-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.comment-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.create-comment-input {
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    width: 290px;
    height: 37px;
    background: #fff;
    border-bottom: 1px solid #9b9b9b;
}

.post-comment-create-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}