.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;

}

.login-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 360px;
    padding: 50px 30px;
}

.login-content div.alert-danger.alert {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
}

.login-title {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-submit {
    margin-top: 15px;
    width: 100px;
    background-color: var(--primary-color) !important;
}

.login-recovery-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-link-recover {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.login-link-register {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: var(--primary-color);
    margin-left: 10px;
}