.main-nav {
    min-height: 70px;
    padding-left: 40px;
}

.nav-logo-text {
    color: #fff;

}

.nav-logo-text:hover {
    color: #fff;

}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between !important;

}

.main-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
    color: #fff;
}

.main-menu a.active {
    color: #fff;
    font-weight: 700;
}

.nav-login-logout {
    /* display: none; */
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.nav-username {
    /* display: none; */
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.notification {
    width: 230px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--light-color);
    border-radius: 8px;
    padding: 8px 20px;
}

@media(min-width: 768px) {
    .nav-login-logout {
        /* display: unset; */
        color: #fff;
        /* margin-right: 15px; */
    }
}

@media(min-width: 992px) {
    .nav-login-logout {
        /* display: unset; */
        color: #fff;
        margin-right: 40px;
    }

    .nav-username {
        display: unset;
        margin-right: 10px;
    }
}